:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.main {
  margin: 100px;
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.single_product {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 50px;
  margin: 25px 20px;
}
.img {
  width: 300px;
  max-height: 200px;
  object-fit: cover;
}
